[Unit]
Description=AutoTweaker Auto Update
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/environment
ExecStart=/usr/libexec/autotweaker/autoupdate.sh
