[Unit]
Description=AutoTweaker AI Agent
After=network-online.target

[Service]
Type=simple
Environment=LOG_TARGET=JOURNAL
EnvironmentFile=-%h/.config/autotweaker/env
ExecStart=/usr/libexec/autotweaker/autotweakerd
LimitCORE=0
SuccessExitStatus=143

[Install]
WantedBy=default.target
