[Unit]
Description=AutoTweaker AI Agent
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/libexec/autotweaker/autotweakerd
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
